
<td><img ng-src="images/{{ ::album.image }}" alt="{{ ::album.title }}" width="200" class="img-thumbnail"></td>
<td><strong>{{ ::album.title }}</strong>
    <i type="button" ng-click="fav()">
        <span ng-class="[{ 'glyphicon glyphicon-star': isFav(album.id) },{ 'glyphicon glyphicon-star-empty': !isFav(album.id) }]">

        </span>
    </i>
    <i fav-item item="album" type="23"><span>hola</span></i>
</td>
<td>{{ ::album.year }}</td>
<td>
    <ol>
        <li ng-repeat="track in album.tracklist">{{ ::track }}</li>
    </ol>
</td>